<p-confirmPopup key="deleteGoal"></p-confirmPopup>
<app-goal-table
    [addedaGoal]="parentEmitAddnewGoal"
    [editedAGoal]="parentEmitEditGoal"
    [deletedAGoal]="parentEmitDeleteGoal"
    (addNewGoalButtonClick)="receivedAddNewGoalButtonClick($event)"
    (editGoalButtonClick)="receivedEditGoalButtonClick($event)"
></app-goal-table>
<app-add-goal
    [addNewGoal]="parentAddnewGoal"
    (childAddGoalEvent)="receivedAddGoalEvent($event)"
></app-add-goal>

<app-edit-goal
    [editGoal]="parentEditGoal"
    (childEditGoalEvent)="receivedEditGoalEvent($event)"
></app-edit-goal>
