<p-dialog
    header="Edit User"
    [(visible)]="updateUserCard"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '19vw' }"
    [breakpoints]="{ '1199px': '19vw', '890px': '25vw', '500px': '30vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <div class="card p-fluid">
        <form [formGroup]="form">
            <div class="field">
                <label for="username">Username</label>
                <input
                    pInputText
                    id="username"
                    class="flex-auto"
                    autocomplete="off"
                    [ngClass]="
                        form?.get('username').touched &&
                        form?.controls['username'].errors?.required
                            ? 'ng-invalid ng-dirty'
                            : ''
                    "
                    formControlName="username"
                    required
                />
            </div>
            <div class="flex align-items-center gap-3">
                <div class="field">
                    <label for="email">Email</label>
                    <input
                        pInputText
                        id="email"
                        class="flex-auto"
                        [ngClass]="
                            form?.get('email').touched &&
                            form?.controls['email'].errors?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="email"
                        autocomplete="off"
                        required
                    />
                    <div
                        *ngIf="
                            (form.get('email').hasError('required') &&
                                form.get('email').touched) ||
                            form.get('email').hasError('email') ||
                            form.get('email').hasError('pattern')
                        "
                        class="bg-red-500 text-white p-2 rounded"
                    >
                        <span
                            *ngIf="
                                form.get('email').touched &&
                                form.get('email').hasError('required')
                            "
                        >
                            You must enter an email address.
                        </span>
                        <span *ngIf="form.get('email').hasError('email')"
                            >Please enter a valid email address.</span
                        >
                        <span *ngIf="form.get('email').hasError('pattern')"
                            >Only Chmsu addresses (chmsu.edu.ph) are
                            accepted.</span
                        >
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <p-password
                    id="password"
                    class="flex-auto"
                    autocomplete="off"
                    [ngClass]="
                        form?.get('password').touched &&
                        form?.controls['password'].errors?.required
                            ? 'ng-invalid ng-dirty'
                            : ''
                    "
                    formControlName="password"
                    required
                />
            </div>
            <div class="field">
                <label for="confirm">Confirm Password</label>
                <p-password
                    id="confirm"
                    class="flex-auto"
                    [ngClass]="
                        form?.get('confirm').touched &&
                        form?.controls['confirm'].errors?.required
                            ? 'ng-invalid ng-dirty'
                            : ''
                    "
                    formControlName="confirm"
                    autocomplete="off"
                    required
                />
            </div>
            <div class="field">
                <label htmlFor="department">Role</label>
                <p-dropdown
                    formControlName="role"
                    [options]="roleOptions"
                    placeholder="Select a Role"
                />
            </div>
            <div class="field">
                <label htmlFor="department">Campus</label>
                <form [formGroup]="formGroupCampus">
                    <p-dropdown
                        formControlName="selectedCampus"
                        [options]="deptDropdownCampusValue"
                        optionLabel="name"
                        placeholder="Select a Campus"
                    />
                </form>
            </div>
            <div class="field">
                <form [formGroup]="formGroupDemo">
                    <p-dropdown
                        formControlName="selectDepartment"
                        [options]="deptDropdownValue"
                        optionLabel="name"
                        placeholder="Select a Department"
                    />
                </form>
            </div>
            <div class="field footer-button-adduser">
                <p-button
                    label="Cancel"
                    severity="secondary"
                    (click)="updateUserCard = false"
                />
                &nbsp;&nbsp;
                <p-button
                    severity="success"
                    label="Edit"
                    (click)="updateUserExecution(form)"
                />
            </div>
        </form>
    </div>
</p-dialog>
