<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Goals with Objectives</h5>
            @if(!loading){
            <p-chart
                type="bar"
                [data]="donutData"
                [options]="donutOptions"
            ></p-chart>
            } @else {
            <p-skeleton
                class="my-auto"
                width="18rem"
                height="18rem"
            ></p-skeleton>
            }
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Goal Summary">
            <div class="align-items-center">
                <p-progressBar
                    [value]="(objectiveBudget / goalForTables) * 100"
                    [showValue]="false"
                ></p-progressBar>
                <p
                    class="text-center text-base"
                    style="
                        font-family: 'Figtree', 'Roboto', 'Noto Sans Hebrew',
                            'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
                    "
                >
                    {{ goalForTables | peso }}
                </p>
                <p class="text-xs font-medium">Goals :{{ goalCount }}</p>
                <p class="text-xs font-light">
                    Remaining Budget:
                    {{ goalForTables - objectiveBudget | peso }}
                </p>
            </div>
        </p-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="To Do card"> </p-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="To Do card"> </p-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="To Do card"> </p-card>
    </div>

    <div class="col-12">
        <div class="card">
            <h5>Goals & Objectives</h5>

            <p-table
                [value]="goals"
                dataKey="id"
                [expandedRowKeys]="expandedRows"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>Goal Name</th>
                        <th>Budget</th>
                        <th>Total Objectives</th>
                        <th>Completed Objectives</th>
                        <th>Incomplete Objectives</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-goal let-expanded="expanded">
                    <tr>
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="goal"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></button>
                        </td>
                        <td>{{ goal.goals }}</td>
                        <td>{{ goal.budget | currency : "PHP" : "symbol" }}</td>
                        <td>{{ goal.objectivesDetails?.length || 0 }}</td>
                        <td>{{ getCompletedObjectives(goal) }}</td>
                        <td>{{ getIncompleteObjectives(goal) }}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-goal>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="goal.objectivesDetails">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Objective</th>
                                            <th>Budget</th>
                                            <th>Complete</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-objective>
                                        <tr>
                                            <td>
                                                {{
                                                    objective.functional_objective
                                                }}
                                            </td>
                                            <td>
                                                {{
                                                    objective.budget
                                                        | currency
                                                            : "PHP"
                                                            : "symbol"
                                                }}
                                            </td>
                                            <td>
                                                <i
                                                    class="pi"
                                                    [ngClass]="{
                                                        'pi-check-circle text-green-500':
                                                            objective.complete,
                                                        'pi-times-circle text-red-500':
                                                            !objective.complete
                                                    }"
                                                ></i>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
