<div class="grid">
    <div class="col-12 xl:col-6">
        <div class="card">
            <p-card header="Total Fund">
                <p class="m-0">Lorem ipsum dolor sit amet...</p>
            </p-card>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <p-card header="Fund Total">
            <p
                class="m-0 text-center text-6xl"
                style="
                    font-family: 'Figtree', 'Roboto', 'Noto Sans Hebrew',
                        'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
                "
            >
                {{ goals || "0" | peso }}
            </p>
        </p-card>
    </div>
</div>
