<div class="col-12">
    <div class="card">
        <h5>Gemini Chat</h5>
        <div class="grid">
            <div class="flex align-items-center justify-content-center">
                <div class="col-12">
                    <div class="chat">
                        <div class="chat-title">
                            <figure class="avatar">
                                <img
                                    src="assets/layout/images/businessman.png"
                                />
                            </figure>
                        </div>
                        <div class="messages" #messagesContent>
                            <div class="messages-content">
                                <div
                                    *ngFor="let message of messages"
                                    [ngClass]="{
                                        'message-personal': message.isPersonal,
                                        loading: message.isLoading
                                    }"
                                >
                                    <span *ngIf="!message.isLoading">{{
                                        message.text
                                    }}</span>
                                    <div
                                        *ngIf="message.isLoading"
                                        class="loading"
                                    >
                                        <span></span>
                                    </div>
                                    <!-- <figure
                                        *ngIf="message.isPersonal"
                                        class="avatar"
                                    >
                                        <img
                                            src="assets/layout/images/no-photo.png"
                                        />
                                    </figure> -->
                                </div>
                            </div>
                        </div>
                        <div class="message-box">
                            <textarea
                                [(ngModel)]="newMessageText"
                                #messageInput
                                type="text"
                                class="message-input"
                                placeholder="Type message..."
                            ></textarea>
                            <button
                                (click)="sendMessage()"
                                class="message-submit"
                            >
                                Send
                            </button>
                        </div>
                    </div>
                </div>

                <div class="bg"></div>
            </div>
            <div class="col-2">
                <p-divider layout="vertical">
                    <b>OR</b>
                </p-divider>
            </div>
            <div class="col-5 align-items-center justify-content-center">
                <p class="line-height-3 m-0">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Consectetur, adipisci
                    velit, sed quia non numquam eius modi.
                </p>

                <p-divider layout="horizontal" align="center">
                    <span class="p-tag">Badge</span>
                </p-divider>

                <p class="line-height-3 m-0">
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et
                    dolorum fuga. Et harum quidem rerum facilis est et expedita
                    distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit quo minus.
                </p>

                <p-divider align="right">
                    <p-button
                        label="Button"
                        icon="pi pi-search"
                        styleClass="p-button-outlined"
                    ></p-button>
                </p-divider>

                <p class="line-height-3 m-0">
                    Temporibus autem quibusdam et aut officiis debitis aut rerum
                    necessitatibus saepe eveniet ut et voluptates repudiandae
                    sint et molestiae non recusandae. Itaque earum rerum hic
                    tenetur a sapiente delectus, ut aut reiciendis voluptatibus
                    maiores alias consequatur aut perferendis doloribus
                    asperiores repellat. Donec vel volutpat ipsum. Integer nunc
                    magna, posuere ut tincidunt eget, egestas vitae sapien.
                    Morbi dapibus luctus odio.
                </p>
            </div>
        </div>
    </div>
</div>
