<p-dialog
    styleClass="addObjective"
    header="Edit Objectives"
    [(visible)]="editObjectiveGoalDialogCard"
    [style]="{ width: '50rem' }"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    position="top"
    (onHide)="clearEditObjectiveGoalDialogCardDatas()"
>
    <div class="p-fluid">
        <div class="field col-10 md:col-10">
            <form [formGroup]="editObjectiveGoalform">
                <div class="field">
                    <label htmlFor="department">Functional Objective</label>
                    <p-dropdown
                        formControlName="functional_objective"
                        [options]="dropdwonGoallistSelection"
                        optionLabel="name"
                        placeholder="Select an Objective"
                        (onChange)="onGoalChange($event)"
                    />
                    <!--    [editable]="false" [(ngModel)]="customFunctionalName" -->
                </div>
                <div class="field">
                    <label htmlFor="name1">Performance Indicator</label>
                    <input
                        pInputText
                        id="performance_indicator"
                        class="flex-auto"
                        autocomplete="off"
                        [ngClass]="
                            editObjectiveGoalform?.get('performance_indicator')
                                .touched &&
                            editObjectiveGoalform?.controls[
                                'performance_indicator'
                            ].errors?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="performance_indicator"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="name1">Target</label>
                    <input
                        pInputText
                        id="target"
                        class="flex-auto"
                        autocomplete="off"
                        [ngClass]="
                            editObjectiveGoalform?.get('target').touched &&
                            editObjectiveGoalform?.controls['target'].errors
                                ?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="target"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="name1">Formula</label>
                    <input
                        pInputText
                        id="formula"
                        class="flex-auto"
                        autocomplete="off"
                        [ngClass]="
                            editObjectiveGoalform?.get('formula').touched &&
                            editObjectiveGoalform?.controls['formula'].errors
                                ?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="formula"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="name1">Programs</label>
                    <input
                        pInputText
                        id="programs"
                        class="flex-auto"
                        autocomplete="off"
                        [ngClass]="
                            editObjectiveGoalform?.get('programs').touched &&
                            editObjectiveGoalform?.controls['programs'].errors
                                ?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="programs"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="name1">Responsible Persons</label>
                    <input
                        pInputText
                        id="responsible_persons"
                        class="flex-auto"
                        autocomplete="off"
                        [ngClass]="
                            editObjectiveGoalform?.get('responsible_persons')
                                .touched &&
                            editObjectiveGoalform?.controls[
                                'responsible_persons'
                            ].errors?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="responsible_persons"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="name1">Clients</label>
                    <input
                        pInputText
                        id="clients"
                        class="flex-auto"
                        autocomplete="off"
                        [ngClass]="
                            editObjectiveGoalform?.get('clients').touched &&
                            editObjectiveGoalform?.controls['clients'].errors
                                ?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="clients"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="name1">Timetable</label>
                    <p-calendar
                        formControlName="timetable"
                        selectionMode="range"
                        [readonlyInput]="true"
                    />
                </div>
                <div class="field">
                    <label htmlFor="department">Frequency Monitoring</label>
                    <form [formGroup]="formGroupDropdown">
                        <p-dropdown
                            formControlName="selectedDropdown"
                            [options]="dropdwonSelection"
                            optionLabel="name"
                            placeholder="Select a Frequency"
                        />
                    </form>
                </div>
                <div class="field">
                    <label htmlFor="name1"
                        >Means of Verification(Data Source)</label
                    >
                    <input
                        pInputText
                        id="data_source"
                        class="flex-auto"
                        autocomplete="off"
                        [ngClass]="
                            editObjectiveGoalform?.get('data_source').touched &&
                            editObjectiveGoalform?.controls['data_source']
                                .errors?.required
                                ? 'ng-invalid ng-dirty'
                                : ''
                        "
                        formControlName="data_source"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="name1"> budget </label>
                    <p-inputNumber
                        mode="decimal"
                        [min]="0"
                        formControlName="budget"
                        [showButtons]="true"
                    >
                    </p-inputNumber>
                </div>
                <div class="field">
                    <label htmlFor="name1"> Remarks </label>
                    <textarea
                        rows="5"
                        cols="30"
                        formControlName="remarks"
                        placeholder="Your Message"
                        pInputTextarea
                    ></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="flex justify-space-between gap-2">
        <p-button
            label="Cancel"
            severity="secondary"
            (click)="clearEditObjectiveGoalDialogCardDatas()"
        />
        <p-button
            label="Edit"
            (click)="updateSubObjectiveGoalDialogExec(editObjectiveGoalform)"
        />
    </div>
</p-dialog>
